.container {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.product-container {
    min-width: 75%;
}

.filters-container {
    min-width: 20%;
}

.filters {    
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.inputs {
    width: 50%;
    padding: 3px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    background-color: #fafafa;

}

.search-button {
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

.products-list {
    border-radius: 4px;
    border: 1px solid #eaeaea;
    padding-left: 0;
}

.product-item {
    display: grid;
    justify-content: center;
    grid-template-columns: 0.2fr 1.5fr 0.5fr 0.5fr;
    padding: 16px 16px;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
}

.product-item:last-child {
    border-bottom: none;
}

.product-search-input-wrapper{
    display: flex;
    justify-content: flex-end;
}

.product-search-input {
    width: 50%;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    background-color: #fafafa;    
}

/* Responsive */
/* Media Query for screens smaller than 768px */
@media (max-width: 1110px) {
    .container {
        flex-direction: column;
        
    }

    .product-container {
        padding-top: 20px
    }
}


/* @media  (max-width: 900px) {
    .product-item {
      grid-template-columns: 1fr 1.5fr 0.5fr 0.5fr;
    }
  }
  
  @media (max-width: 600px) {
    .product-item {
      grid-template-columns: 0.5fr 0.7fr 0.3fr 0.3fr;
    }
  }
  
  @media (max-width: 300px) {
    .product-item {
      grid-template-columns: 0.5fr 0.6fr 0.2fr 0.2fr;
    }
  } */